<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label for="descricao">Descrição</label>
      <input type="text" pInputText id="descricao">
    </div>

    <div class="ui-g-12">
      <label for="vencimento" style="display:block">Vencimento</label>
      <input type="text" pInputText style="width:95px" id="vencimento">

      <label for="ate" style="margin:0 10px">Até</label>
      <input type="text" pInputText style="width:95px" id="ate">
    </div>

    <div class="ui-g-12">
      <button pButton label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [paginator]="true" [rows]="3" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="col-data">Vencimento</th>
            <th class="col-data">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-data"></th>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-l>
            <tr>
                <td>{{l.pessoa}}</td>
                <td>{{l.descricao}}</td>
                <td class="col-data">{{l.dataVencimento | date: 'dd-M-y'}}</td>
                <td class="col-data">{{l.dataPagamento | date: 'dd-M-y'}}</td>
                <td class="col-valor"><span [style.color]="l.tipo === 'DESPESA' ? 'red' :'blue'">{{l.valor | currency: 'BRL': true}}</span></td>
                <td class="col-acoes">
                  <a pButton icon="pi pi-pencil" style="margin: 0 5px" pTooltip="Editar" tooltipPosition="top"></a>
                  <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
