<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <i class="pi pi-bars" (click)="exibeMenu = !exibeMenu"></i>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibeMenu">
    <li class="navbar-usuario"> José da Silva</li>
    <li class="navbar-menu-item"><a href="#">Lançamentos</a></li>
    <li class="navbar-menu-item"><a href="#">Pessoas</a></li>
    <li class="navbar-menu-item"><a href="#">Logout</a></li>
  </ul>
</nav>
