.navbar {
    background-color: #1e94d2;
    padding: 10px 0;
}

.pi { 
    color: white;
}

.navbar-menu {
    background-color: #3a3633;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 210px;
    margin: 0;
    z-index: 1000;
    list-style: none;
    padding: 0;
    opacity: 0.95;
}

.navbar-usuario {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: #525151 1px solid;
    margin-bottom: 15px;
}

.navbar-menu-item {
    padding: 15px;    
}

.navbar-menu-item a {
    list-style: none;
    color: #c0bbb7;
}

.navbar-menu-item a:hover {
    color: white;
}