<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Nova Pessoa</h1>
    </div>
    <form>
      <!------- NOME ------->
      <div class="ui-g-12 ui-fluid">
        <label for="nome">Nome</label>
        <input type="text" id="nome" pInputText>
      </div>

      <!------- LOGRADOURO / NUMERO ------->
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="logradouro">Logradouro</label>
        <input type="text" id="logradouro" pInputText>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="numero">Número</label>
        <input type="text" id="numero" pInputText>
      </div>

      <!------- COMPLEMENTO / BAIRRO / CEP ------->
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="complemento">Complemento</label>
        <input type="text" id="complemento" pInputText>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="bairro">Bairro</label>
        <input type="text" id="bairro" pInputText>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="cep">CEP</label>
        <p-inputMask mask="99999-999" id="cep"></p-inputMask>
      </div>

      <!------- CIDADE / ESTADO ------->
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" pInputText>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="estado">Estado</label>
        <input type="text" id="estado" pInputText>
      </div>

      <!------- BOTÕES DE CONTROLE ------->
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" style="margin:0 8px" label="Novo"></button>
        <a href="#">Voltar para a pesquisa</a>
      </div>
    </form>

  </div>
</div>